extends layout


append head
  link(rel='stylesheet', href='../css/couture.css')
  //- style
  //-   include ../css/couture.css


block content
  header(role='banner')
    img(
      src='img/couture/ios-icon.png'
      srcset='img/couture/ios-icon@2x.png'
      height='76px'
      width='76px;'
    )
    h1 Zappos Couture
      span Luxury Fasion e–Boutique
    p.role UI Designer


  figure
    img(
      src='img/couture/ui-branding.png'
      srcset='img/couture/ui-branding@2x.png 2x'
    )


  section.light_gradient
    h2 Search
    figure
      img(
        src='img/couture/search-iphone.png'
        srcset='img/couture/search-iphone@2x.png 2x'
        width='1024px'
      )
    figure.light_gradient
      img(
        src='img/couture/search-ipad.png'
        srcset='img/couture/search-ipad@2x.png 2x'
        width='1024px'
      )


  section.dark_gradient
    h2 Product
    figure
      img(
        src='img/couture/pdp-iphone.png'
        srcset='img/couture/pdp-iphone@2x.png 2x'
        width='1024px'
      )
    figure.dark_gradient
      img(
        src='img/couture/pdp-ipad.png'
        srcset='img/couture/pdp-ipad@2x.png 2x'
        width='1024px'
      )


  section.light_gradient
    h2 Checkout
    figure
      img(
        src='img/couture/checkout-iphone.png'
        srcset='img/couture/checkout-iphone@2x.png 2x'
        width='1024px'
      )
    figure.light_gradient
      img(
        src='img/couture/cart-ipad.png'
        srcset='img/couture/cart-ipad@2x.png 2x'
        width='1024px'
      )


  img(
    src='img/couture/cards@0.5x.jpg'
    srcset='img/couture/cards.jpg 1280w, img/couture/cards@2x.jpg 2560w'
  )
