extends layout


append vars
  -
    var intro_graphic = true
        project_name = 'Zappos Couture iOS App'
        project_subtitle = 'Luxury Fasion e–Boutique'
        project_role = 'Interface Designer'


append head
  style
    //- include:stylus ../css/couture.styl
    include:stylus ../css/document.styl
    include:stylus ../css/template.styl


block content
  include project-header


  figure
    img(
      src='img/couture/ui-branding.png'
      srcset='img/couture/ui-branding@2x.png 2x'
    )


  section
    h2 Search
    figure
      img(
        src='img/couture/search-iphone.png'
        srcset='img/couture/search-iphone@2x.png 2x'
      )
    figure
      img(
        src='img/couture/search-ipad.png'
        srcset='img/couture/search-ipad@2x.png 2x'
      )


  section
    h2 Product
    figure
      img(
        src='img/couture/pdp-iphone.png'
        srcset='img/couture/pdp-iphone@2x.png 2x'
      )
    figure
      img(
        src='img/couture/pdp-ipad.png'
        srcset='img/couture/pdp-ipad@2x.png 2x'
      )


  section
    h2 Checkout
    figure
      img(
        src='img/couture/checkout-iphone.png'
        srcset='img/couture/checkout-iphone@2x.png 2x'
      )
    figure
      img(
        src='img/couture/cart-ipad.png'
        srcset='img/couture/cart-ipad@2x.png 2x'
      )


  img(
    src='img/couture/cards@0.5x.jpg'
    srcset='img/couture/cards.jpg 1280w, img/couture/cards@2x.jpg 2560w'
  )
