!!! 5
block vars
  - var site        = 'Vanilla'
  - var year        = '2013'
  - var description = undefined
  - var title       = undefined
  - var index       = false
  - var gaid        = undefined


html(lang='en')
  head
    block head
      meta(charset='utf-8')
      if description
        meta(name='description', content='#{description}')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      if title
        title #{title} • #{site}
      else
        title #{site}


  body
    block header
      header(role='banner')
        if index
          h1 #{site}
        else
          a(href='/') #{site}

    block content
    block nav
    block footer
      footer(role='contentinfo')
        p
          small © #{year} #{site}. All rights reserved.


    if gaid
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','#{gaid}');ga('send','pageview');
