extends layout


append head
  //- style
  //-   include ../css/zappos.css
  link(rel='stylesheet', href='../css/zappos.css')


block content
  header(role='banner')
    h1 Product Exchange
      span Zappos iPhone App
    p.role UX Designer
    p.lead I was tasked with designing the exchange process for the Zappos iPhone app. The existing return flow spanned several steps and needed to be refined in order to achieve an intuitive exchange process.


  figure.light-gradient
    video.border-light(
      autoplay
      controls
      loop
      src='vid/xoxo.m4v'
      width='375px'
    )

  figure.light-gradient
    img(
      src='img/xoxo/proposed-flow.png'
      srcset='img/xoxo/proposed-flow@2x.png'
      width='1024px'
    )

  figure.light-gradient
    img(
      src='img/xoxo/wireframe.png'
      srcset='img/xoxo/wireframe@2x.png'
      width='1024px'
    )

  figure.light-gradient
    img(
      src='img/xoxo/screens.png'
      srcset='img/xoxo/screens@2x.png'
      width='1024px'
    )
