extends layout
append head
  meta(name='description', content='An UX case study on the Advanced Exchange project I worked on for the Zappos mobile team.')
  title Product Exchange UX Case Study
  link(rel='stylesheet', href='css/inriverie.css')


block content
  a(href='index.html').brand Will Smith
    span.brand--role Interaction Designer

  main
    figure.intro-graphic
      img(
        src='img/xoxo-intro-graphic.png',
        srcset='img/xoxo-intro-graphic@2x.png 2x'
      )

    header.project
      h1.project--name Product Exchange
      p.project--company Zappos iPhone
      p.project--role Interaction Design

    p Exchange requests accounted for a decent portion of inbound calls to our call center. I was tasked with designing the exchange process on the iPhone app in effort to empower customers and allow our customer service team to be available for high priority issues.

    h2 Simplifying the Returns Flow
    p The iPhone app already offered the option for customers to process their own returns. I wanted to keep both returns and exchanges in the same flow—for interaction familiarity and to reduce steps for customers with an exchange and return in the same order. This required some changes to the existing return flow.
    figure
      img(
        src='img/current-return-flow.png'
        srcset='img/current-return-flow@2x.png 2x'
      )
    figure
      img(
        src='img/proposed-return-flow.png'
        srcset='img/proposed-return-flow@2x.png 2x'
      )
    p I removed the need to trigger the return process, as I felt it was an unnecessary step. I also discovered that UPS Flex labels are accepted at USPS locations—eliminating the need to choose a carrier.
    figure
      img(
        src='img/new-return-flow.png'
        srcset='img/new-return-flow@2x.png 2x'
      )
    figure
      video(src='vid/return-flow-animation' controls)
  
    h2 Exchanges
    p There were two primary pieces needed for an exchange to be processed: the ability to select a new size and/or color, and a legal agreement due to exchange orders being shipped prior to receiving the return.
    figure
      img(
        src='img/new-exchange-flow.png'
        srcset='img/new-exchange-flow@2x.png 2x'
      )
    figure
      video(src='vid/exchange-flow-animation' controls)


  nav(role='navigation')
    a(href='co.html')
      dl.project
        dt.project--name Checkout Improvements
        dd.project--company Zappos Web
        dd.project--role Concept & Interface Design
    a(href='pdp.html')
      dl.project
        dt.project--name Product Details View
        dd.project--company Zappos Mobile
        dd.project--role UX & Interface Design
