extends layout


append vars
  -
    var project_name = 'Product Exchange'
        project_subtitle = 'Zappos iPhone App'
        project_role = 'UX & Interaction Designer'


append head
  style
    //- include:stylus ../css/xoxo.styl
    include:stylus ../css/document.styl
    include:stylus ../css/template.styl


block content
  include project-header

  p I was tasked with designing an exchange process for the iPhone app. The app already allowed customers to process their own returns, so my goal was to refine the return process and allow exchanges to occur in the same flow.


  figure
    video(
      autoplay
      controls
      loop
      src='vid/xoxo.m4v'
    )

  figure
    img(
      src='img/xoxo/proposed-flow.png'
      srcset='img/xoxo/proposed-flow@2x.png'
    )

  figure
    img(
      src='img/xoxo/wireframe.png'
      srcset='img/xoxo/wireframe@2x.png'
    )

  figure
    img(
      src='img/xoxo/screens.png'
      srcset='img/xoxo/screens@2x.png'
    )
